.ck-content.ck-editor__editable{
	min-height:220px;
}

.ck-content .table table{
	width: 100%;
	border: 0;
}

.ck-content .table table td, .ck-content .table table th{
	padding:10px;
	vertical-align: middle;
	border-color: #000;
}


 td{
	border:1px solid #000;
}

.ck.ck-editor__main ul li{
	list-style-type: disc;
	list-style-position: inside;
}


.ck.ck-editor__main ol li{
	list-style-type: decimal;
	list-style-position: inside;
}

.table-border tr{
	background-color: #fff;
}
.table-border tr:nth-child(odd){
	background-color: #eeeeee;
}
.table-border tr:first-child{
	background-color: #cccccc;
}


