    <h1 class="head">Help:
        <a class="ui-corner-all tooltip" href="<{$xoops_url}>/modules/<{$smarty.const._MI_TADCAL_DIRNAME}>/admin/index.php"
           title="Back to the administration of <{$smarty.const._MI_TADCAL_NAME}>"> <{$smarty.const._MI_TADCAL_NAME}>
            <img src="<{xoAdminIcons home.png}>"
                 alt="Back to the Administration of <{$smarty.const._MI_TADCAL_NAME}>"/>
        </a></h1>

    <h4 class="odd">Installation (Fresh Installation)</h4><br/>
