<div class="flex-fill">
    <!-- 線上預約用餐 -->
    <div class="row p-0 m-0 w-100 ask-content " id="ononnature-footer">
        <div class="container-fluid p-0 text-md-right text-sm-center d-flex justify-content-md-end justify-content-center align-items-center bg2">
            <div class="mr-md-5">
                <h3>線上預約用餐</h3>
                <p><span class="tel">04-25724399</span>  <br/> 或 加入<span class="line-name">泱泱LINE@</span></p>
                <a href="#" target="_blank" class="text-reset text-decoration-none"><button class="btn-line"><i class="fab fa-line"></i> 泱泱自然</button></a>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0">
        <div class="col-lg-6 item" style="position: relative;overflow: hidden;">
            <div id="map" style="height: 100%;width: 100%;"></div>
        </div>
        <div class="col-lg-6 item" id="footer-item-col">
            <div class="d-flex flex-row bd-highlight mb-3" id="footer-col">
                <div class=" footer-ul-wrap col-pc">
                    <ul id="footer-menu">
                        <li><a href="./Housevisit">木屋參訪</a> </li>
                        <li><a href="./Walkerhouse">行動木屋</a></li>
                        <li><a href="./OnonNature">OnOnNature</a></li>
                        <li><a href="./History">紅屋沿革</a></li>
                        <li><a href="./Blog">BLOG</a></li>
                        <li><a href="./Faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-info col-pc" >
                    <h5 class="px-1">自然．紅屋</h5>
                    <p class="p-0 m-0" id="Wo-zip">422-41</p>
                    <p class="p-0 m-0" id="Wo-addr">台中市石岡區石城街27號 </p>
                    <p class="p-0 m-0">TEL：<span id="Wo-tel-1">04 - 2572 4398 (行動木屋）</span> </p>
                    <p class="p-0 m-0" style="text-indent: 2.5em;"><span id="Wo-tel-2"> 04 - 2572 4399 (一般用餐)</span></p>
                    <p class="p-0 m-0" id="Wo-work">(週三至週日 09:00 - 18:00)</p>
                    <ul id="social-link">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p id="footer-copyright">© FAMWOOD 2021</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .maplabels {
    background-color: gray;
    color: gray;
}

</style>
<script>
    let map;
    
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 24.277954235563143, lng: 120.77558503528212 },
            zoom: 17,
            mapTypeControl:false,
            fullscreenControl: false,
            streetViewControl:false,
            zoomControl:false,
            scrollwheel:false,
            draggable:false,
            mapId: '687a5eb610125373',
            
        });
        function pinSymbol(color) {
            return {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
                fillColor: color,
                fillOpacity: 1,
                strokeColor: '#000',
                strokeWeight: 2,
                scale: 1,
            };
        }
        marker = new google.maps.Marker({
            position: { lat: 24.277954235563143, lng: 120.77558503528212 },
            map: map,
            icon: pinSymbol("#AAAAAA")
            // icon: 'http://maps.gstatic.com/mapfiles/ridefinder-images/mm_20_green.png', 
            // icon: 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|AAAAAA'
        });
        

    }
</script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0ff4lZUPk61ilMwiVvobdb5JKRFL0kPM&map_ids=687a5eb610125373&callback=initMap">
</script>
<!-- <a href="#" id='linelink' target="_blank" class='btn rounded-circle btn-success'><i class="fab fa-line"></i></a>
<a href="#" id='ytlink' target="_blank" class='btn rounded-circle btn-danger'><i class="fab fa-youtube"></i></a>
<a href="#" id='fblink' target="_blank" class='btn rounded-circle btn-primary'><i class="fab fa-facebook-f"></i></a>
<a href="Contact?act=contact" id='contactus' class='btn rounded-circle btn-secondary'><i class="fas fa-phone"></i></a>
<button type="button" id='gotop' class='btn btn-green' onclick="gotopEvent();"><i class="fas fa-caret-up"></i></button> -->

