<nav class="navbar navbar-expand-lg navbar-light fixed-top header-3">
  
  <div class="container-fluid mx-auto px-0">
    
      <div class="flex-fill text-center">
        <a class="navbar-brand mx-auto" href="Index?act=index">
          <img src="assets/0_共用/logo.png" class="d-inline-block " alt="" loading="lazy">        
        </a>
      </div>
  </div>  
</nav>
<?php
$web = new webRoute('loadNav'); 
$loadnav = json_decode($web->Action_Event(), true);
$data['loadnav'] = $loadnav;
?>
<div class="nav-lists position-fixed d-none d-md-flex w-100">
  <span id="menubar" onclick="toggleBarEvent()">
    <img src="assets/0_共用/nav.svg" alt="">
  </span>
  <ul class="nav justify-content-end ml-auto">
    <?php
      foreach($data['loadnav'] as $nav)
      {
          $nav_link = '';
          switch($nav['Nav_ID'])
          {
            case 'N006':
                $nav_link = './Home';
                break;
            case 'N005':
                $nav_link = './Walkerhouse';
                break;
            case 'N004':
                $nav_link = './OnonNature';
                break;
            case 'N003':
                $nav_link = './History';
                break;
            case 'N002':
                $nav_link = './Blog';
                break;
            case 'N001':
                $nav_link = './Faq';
                break;
            default:
                $nav_link = '#';
                break;
          }
          if($nav['Nav_Lv'] == 1)
          {
            if($nav['Nav_ID'] != 'N006')
            {
              echo '<li class="nav-item '.(($nav['Nav_Open'] == 1)?'':'d-none').'">
                <a class="nav-link " href="'.$nav_link.'">'.$nav['Nav_Name'].'</a>
              </li>';
            }
            else
            {
              echo '<li class="nav-item '.(($nav['Nav_Open'] == 1)?'':'d-none').'">
                <a class="nav-link " href="'.$nav_link.'">回首頁</a>
              </li>';
            }
            
          }
          
      }
    ?>
    <!-- <li class="nav-item">
      <a class="nav-link" href="./Walkerhouse">行動木屋</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./OnonNature">OnOnNature</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./History">紅屋沿革</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./Blog">紅屋日誌</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./Faq">常見問題</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./Home">回首頁</a>
    </li> -->
  </ul> 
</div>