<div class="fixed-top" id="promp-wrap"></div>
<div id="sidebar-wrap" >  
  <div id="sidebar">
      <span id="closeMenu" onclick="toggleBarEvent()"></span>
      <?php
        $web = new webRoute('loadNav'); 
        $loadnav = json_decode($web->Action_Event(), true);
        $data['loadnav'] = $loadnav;
      ?>
      <ul class="list-unstyled ps-0">
        <?php
          foreach($data['loadnav'] as $nav)
          {
              $nav_link = '';
              switch($nav['Nav_ID'])
              {
                case 'N006':
                    $nav_link = './Home';
                    break;
                case 'N005':
                    $nav_link = './Walkerhouse';
                    break;
                case 'N004':
                    $nav_link = './OnonNature';
                    break;
                case 'N003':
                    $nav_link = './History';
                    break;
                case 'N002':
                    $nav_link = './Blog';
                    break;
                case 'N001':
                    $nav_link = './Faq';
                    break;
                default:
                    $nav_link = '#';
                    break;
              }
              if($nav['Nav_Lv'] == 1 )
              {
                if($nav['Nav_ID'] == 'N006' || $nav['Nav_ID'] == 'N005' || $nav['Nav_ID'] == 'N004')
                {
                  echo '<li class="bignav '.(($nav['Nav_Open'] == 1)?'':'d-none').'"><a href="'.$nav_link.'" class="rounded">'.$nav['Nav_Name'].'</a></li>';
                }
                else
                {
                  
                  echo '<li class="'.(($nav['Nav_Open'] == 1)?'':'d-none').'"><a href="'.$nav_link.'" class="rounded">'.$nav['Nav_Name'].'</a></li>';
                }
              }
              
              if($nav['Nav_ID'] == 'N005' || $nav['Nav_ID'] == 'N004')
              {
                echo '<div class="subnav '.(($nav['Nav_Open'] == 1)?'':'d-none').'">
                  <ul class="list-unstyled ps-0">';
              }
              foreach($data['loadnav'] as $sub_nav)
              {
                if($sub_nav['Nav_Lv'] == 2 && $sub_nav['Nav_UpMID'] == $nav['Nav_ID'])
                {
                  
                  $sub_nav_link = '';
                  switch($sub_nav['Nav_ID'])
                  {
                    case 'N008':
                        $sub_nav_link = './Meal';
                        break;
                    case 'N007':
                        $sub_nav_link = './Traffic';
                        break;
                    case 'N011':
                        $sub_nav_link = './Housevisit';
                        break;
                    case 'N010':
                        $sub_nav_link = './Housestyle';
                        break;
                    case 'N009':
                        $sub_nav_link = './News';
                        break;
                    default:
                        $sub_nav_link = '#';
                        break;
                  }
                  echo '<li class="'.(($sub_nav['Nav_Open'] == 1)?'':'d-none').'"><a href="'.$sub_nav_link.'" class="rounded">'.$sub_nav['Nav_Name'].'</a></li>';
                }
              }
              if($nav['Nav_ID'] == 'N005' || $nav['Nav_ID'] == 'N004')
              {
                echo '</ul>
                        </div>';
              }
          }
        ?>
        <!-- <li class="bignav"><a href="./Home" class="rounded">Home</a></li>
        <li class="bignav"><a href="./Walkerhouse" class="rounded">行動紅屋</a></li>
        <div class="subnav">
          <ul class="list-unstyled ps-0">
            <li><a href="./Housevisit" class="rounded">木屋參訪</a></li>
            <li><a href="./Housestyle" class="rounded">木屋款式</a></li>
            <li><a href="./News" class="rounded">檔期推廣</a></li>
          </ul>
        </div>
        <li class="bignav"><a href="./OnonNature" class="rounded">OnOnNature</a></li>
        <div class="subnav">
          <ul class="list-unstyled ps-0">
            <li><a href="./Meal" class="rounded">餐點介紹</a></li>
            <li><a href="./Traffic" class="rounded">園區交通</a></li>
          </ul>
        </div>
        <li><a href="./History" class="rounded">紅屋沿革</a></li>
        <li><a href="./Blog" class="rounded">紅屋日誌</a></li>
        <li><a href="./Faq" class="rounded">常見問題</a></li> -->
      </ul>
      <ul id="social-link">
        <li></li>
        <li></li>
        <li></li>
      </ul>
  </div>
</div>  
<a href="./Housevisit" class="text-reset"><div id="orderBt">木<br/>屋<br/>參<br/>訪</div></a> 

<script>
  function toggleBarEvent()
  {
    if($("#sidebar").hasClass('toggleShow'))
    {
      $("#sidebar").removeClass('toggleShow')
      $("#sidebar").addClass('toggleHidden')
    }
    else
    {
      $("#sidebar").removeClass('toggleHidden')
      $("#sidebar").addClass('toggleShow')
    }
    
  }
</script>